<!DOCTYPE HTML>
<html>

<head>
    <meta name="theme-color" content="#0086bf" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Chatbot</title>
    <!-- <link rel="stylesheet" href="http://chatbot.wow.jobs.dev/static/owl/dist/assets/owl.carousel.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <!-- <link rel="stylesheet" href="http://chatbot.wow.jobs.dev/static/owl/dist/assets/owl.theme.default.min.css"> -->
    <link rel="stylesheet" href="https://chatbot.wow.jobs/static/css/style.css">
    <!-- Latest compiled and minified JavaScript -->
</head>

<body>
    <div class="bootstrap-hold">
        <div class="bot-holder">
            <div class="headIng" > Hi from Wowee</div>
            <div class="bot-content" id="result">
            </div>
            <div class="custom-input">
                <input type="text" id='query' onkeypress="handle(event)" placeholder="Your input here...">
                <button id='button' class="scroll"><img src="https://chatbot.wow.jobs/static/images/chat/save.png" alt="image"></button>
            </div>
        </div>
        <div class="chatimage">
                <span class="minmizeIt"><img  src="https://chatbot.wow.jobs/static/images/chat/chat-bubble.png" alt=""></span>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAFVHZ3Ocumy7N6ToR-zHlY47rrdweqvug&sensor=false"></script>
    <script src="https://chatbot.wow.jobs/static/js/jquery_cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="https://chatbot.wow.jobs/static/js/ajax_response.js"></script>
</body>
<script>
    $('.minmizeIt').click(function() {
        $('.bot-holder').toggle();
    });
</script>

</html>

{#
<section class="chat-empwidget">
    <div class="chat-widget-holder">
        <div id="chat-widget"></div>
    </div>
</section>
<script>
    var company_name = 'APPINESS INTERACTIVE PVT LTD'.replace(/[^a-zA-Z0-9 ]/g, '')
    document.cookie = "c_wow_name=" + company_name + '; expires=1609415999; path=/';
    $.ajax({
        type: 'GET',
        url: 'http://chatbot.wow.jobs',
        async: false,
        success: function(response) {
            $(document).find('#chat-widget').html(response);
        }
    });
</script>#}
