<!DOCTYPE HTML>
<html>

<head>
    <meta name="theme-color" content="#0086bf" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>ChatBot</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/owl/dist/assets/owl.carousel.css">

    <link rel="stylesheet" href="../static/owl/dist/assets/owl.theme.default.min.css">

    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Latest compiled and minified JavaScript -->

</head>

<body>
    <div class="bot-holder">
        <div class="headIng">Chatbot</div>
        <div class="bot-content">
            <div class="text-center">
                <img src="woweee.png" alt="image">
            </div>
            <div class="first-response">
                <h3>Hello, I'm Wowee</h3>
                <h4>I'm AI based assistant for you</h4>

            </div>
            <div class="answers">
                <p>What are you looking for, today?</p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="replies">
                <ul class="owl-carousel owl-theme">
                    <li class="active item">Current opening</li>
                    <li class="item">About us</li>
                    <li class="item">Speak to HR</li>
                </ul>
            </div>
            <div class="replies">
                <p>Current openings</p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="answers">
                <p>Here are the openings in appiness</p>
                <p>You may search with specific keywords</p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="replies jobList">
                <ul class="owl-carousel owl-theme">
                    <li class="item">
                        <h5>Senior software developer</h5>
                        <h5>Loc: Bangalore, India</h5>
                        <h5>Exp: 3-5 yrs</h5>
                        <div class="blockDis">
                            <a href="" class="anchor-block">Apply</a>
                        </div>
                    </li>
                    <li class="item">
                        <h5>Junior software developer</h5>
                        <h5>Loc: Bangalore, India</h5>
                        <h5>Exp: 3-5 yrs</h5>
                        <div class="blockDis">
                            <a href="" class="anchor-block">Apply</a>
                        </div>
                    </li>
                    <li class="item">
                        <h5>Senior engineer</h5>
                        <h5>Loc: Bangalore, India</h5>
                        <h5>Exp: 3-5 yrs</h5>
                        <div class="blockDis">
                            <a href="" class="anchor-block">Apply</a>
                        </div>
                    </li>
                    <li class="item">
                        <h5>Senior engineer</h5>
                        <h5>Loc: Bangalore, India</h5>
                        <h5>Exp: 3-5 yrs</h5>
                        <div class="blockDis">
                            <a href="" class="anchor-block">Apply</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="replies jobSelect">
                <p>
                    <span>Senior software developer</span>
                    <span>Loc: Bangalore, India</span>
                    <span>Exp: 3-5 yrs</span>
                </p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="answers">
                <p>Do you want to appy on the selected job position?</p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="replies">
                <ul>
                    <li>Yes</li>
                    <li>Know more</li>
                    <li class="active">No</li>
                </ul>
            </div>
            <div class="replies">
                <p>No</p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="answers">
                <p>Thank You!</p>
                <p>Do you looking for any other help?</p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="replies">
                <p>About us</p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="answers">
                <div class="aboutCompany">
                    <p><span class="headIn">About company</span>We do not redefine anything or reinvent the wheel. We believe in Practical Creativity, where the idea is only as good as the returns it fetches for our clients. We are not here to create immortal
                        art; we are here to generate revenue for our clients. <span class="blockDis"><a href="" class="anchor-block">Read more</a></span></p>
                </div>
                <p>Do you want to more about us?</p>
                <h6 class="timeP">5:30 PM</h6>
            </div>
            <div class="replies">
                <ul class="owl-carousel owl-theme">
                    <li class="active item">Work culture</li>
                    <li class="item">Benefits</li>
                    <li class="item">Places around</li>
                    <li class="item">Places around</li>
                </ul>
            </div>
            <div class="replies">
                <div class="wow-cult">
                    <ul class="owl-carousel owl-theme">
                        <li class="item">
                            <img class="img-responsive" src="https://employer.wow.jobs/cache/10684526911/f53626434dc06224419cd4de7004e226.jpg" alt="image">
                            <h5>Appiness turns 5</h5>
                            <h5>April 1</h5>
                        </li>
                        <li class="item">
                            <img class="img-responsive" src="https://employer.wow.jobs/cache/10684526911/7eeef7b3ce2efd45099ffcb63bc8e4ed.jpg" alt="image">
                            <h5>Appiness turns 5</h5>
                            <h5>April 1</h5>
                        </li>
                        <li class="item">
                            <img class="img-responsive" src="https://employer.wow.jobs/cache/10684526911/f53626434dc06224419cd4de7004e226.jpg" alt="image">
                            <h5>Appiness turns 5</h5>
                            <h5>April 1</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="answers">
                <div class="benefitsHold">
                    <h4 class="headIn">Benefits working at Appiness</h4>
                    <ul>
                        <li>No Dress Code</li>
                        <li>Insurance</li>
                        <li>Flexible Work Hours</li>
                        <li>5 Days a week</li>
                        <li>Women Friendly Atmosphere</li>
                    </ul>
                    <div class="blockDis">
                        <a href="" class="anchor-block">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-input">
            <input type="text" placeholder="Your input here...">
            <button><img src="save.png" alt="image"></button>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../static/owl/dist/owl.carousel.min.js"></script>
        <script src="../static/js/ajax_response.js"></script>
    <script>
        $(function() {
            $('.owl-carousel').owlCarousel({
                nav: true,
                autoWidth: true,
                items: 2,
                margin: 10,
                navText: ["<img src='http://127.0.0.1:5001/static/images/chat/arrow-left.png'>", "<img src='http://127.0.0.1:5001/static/images/chat/arrow-right.png'>"]
            });
        });
    </script>

</body>



</html>

{#<section class="chat-empwidget"><div class="chat-widget-holder"><div id="chat-widget"></div></div></section>
<script>document.cookie = "c_wow_name=" + 'APPINESS  INTERACTIVE PVT LTD; expires=1609415999; path=/';
$.ajax({type: 'GET',url: 'http://chatbot.wow.jobs:5000',async: false,success: function(response) {$(document).find('#chat-widget').html(response);}});
</script>#}