<html>
<head>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <section class="chat-box">
        <div class="chatbox-logo">
           <img src="../static/images/chat/chat-box.png" class="chat-boximg">
        </div>
        <div class="chatbot-holder">
            <div class="chatbox-content clearfix" id="result">
            </div>
            <div class="user-input">
                <input type="text" id='query' placeholder="Type your message and press enter ">
                <button id='button' class="scroll"><i class="fa fa-paper-plane" aria-hidden="true" style="color:#17c1d9;font-size: 23px;margin-left: 5px;vertical-align: middle;"></i></button>
            </div>
        </div>
    </section>



{#    <table>#}
{#        <tr>#}
{#            <td> Queries</td><td><input type="text" name="" id='query'></td>#}
{#            <td> Submit</td><td><button type="button" id='button'>Submit</button></td>#}
{#        </tr>#}
{#        <div id='result' style="position: absolute;margin-top:50px;"></div>#}
{##}
{#    </table>#}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/ajax_response.js"></script>
</body>
</html>
